<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Análise de Dados: Análise Exploratória de Dados de Logística I
Caderno de **Exercícios**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Kaggle;</li>
  <li>Introdução ao problema de negócios;</li>
  <li>Exploração de dados.</li>
</ol>

---

# **Exercícios**

Este *notebook* deve servir como um guia para a construção da sua própria análise exploratória de dados. Fique a vontate para copiar os códigos da aula mas busque explorar os dados ao máximo. Por fim, publique seu *notebook* no [Kaggle](https://www.kaggle.com/).

---

# **Análise Exploratória de Dados de Logística**

## 1\. Contexto

Utilizando a linguagem Python, e pacotes como Json, Pandas, Matplotlib, e Seaborn, farei uma análise exploratória em uma base de dados
da Loggi, startup unicórnio brasileira de tecnologia focada em logística, usando como base o repositório do GitHub Loggi Benchmark for Urban Deliveries (BUD) para solucionar os problemas logisticos de otimização das rotas de entrega, alocação de entregas nos veículos da frota com capacidade limitada, etc, otimizando os problemas encontrados na cidade do Distrito Federal.

## 2\. Pacotes e bibliotecas

In [99]:
# importe todas as suas bibliotecas aqui, siga os padrões do PEP8:

import json

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# - 3º pacotes que você desenvolveu.
#

...

Ellipsis

## 3\. Exploração de dados

In [101]:
# Fazendo o download do dado bruto em um arquivo no formato json, e atribuindo o nome de 'deliveries.json':

!wget -q "https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/dataset/deliveries.json" -O deliveries.json

In [102]:
# Carregando os dados do arquivo em um dicionário Python chamado 'data':

with open('deliveries.json', mode='r', encoding='utf8') as fp:
  data = json.load(fp)

In [103]:
len(data)

199

In [ ]:
# Fazendo a exploração inicial do dado:

dado_inicial = data[0]
dado_inicial

In [105]:
dado_inicial.keys()

dict_keys(['name', 'region', 'origin', 'vehicle_capacity', 'deliveries'])

In [106]:
dado_inicial['name']

'cvrp-2-df-33'

In [107]:
dado_inicial['region']

'df-2'

In [108]:
dado_inicial['origin']['lng']

-48.05498915846707

In [109]:
dado_inicial['origin']['lat']

-15.83814451122274

In [110]:
dado_inicial['vehicle_capacity']

180

In [111]:
dado_inicial['deliveries'][0]['point']['lat']

-15.848929154862294

In [112]:
# Processo de Data Wrangling: Transformação e limpeza dos dados brutos em um formato adequado para a análise dos dados:

deliveries_df = pd.DataFrame(data)

In [113]:
deliveries_df.head()

,name,region,origin,vehicle_capacity,deliveries
0,cvrp-2-df-33,df-2,"{'lng': -48.05498915846707, 'lat': -15.8381445...",180,"[{'id': '313483a19d2f8d65cd5024c8d215cfbd', 'p..."
1,cvrp-2-df-73,df-2,"{'lng': -48.05498915846707, 'lat': -15.8381445...",180,"[{'id': 'bf3fc630b1c29601a4caf1bdd474b85', 'po..."
2,cvrp-2-df-20,df-2,"{'lng': -48.05498915846707, 'lat': -15.8381445...",180,"[{'id': 'b30f1145a2ba4e0b9ac0162b68d045c3', 'p..."
3,cvrp-1-df-71,df-1,"{'lng': -47.89366206897872, 'lat': -15.8051175...",180,"[{'id': 'be3ed547394196c12c7c27c89ac74ed6', 'p..."
4,cvrp-2-df-87,df-2,"{'lng': -48.05498915846707, 'lat': -15.8381445...",180,"[{'id': 'a6328fb4dc0654eb28a996a270b0f6e4', 'p..."

In [114]:
# Normalização dos dados aninhados no DataFrame com a operação flatten, transformando as estruturas de 'chave: valor' em colunas:

hub_origin_df = pd.json_normalize(deliveries_df['origin'])
hub_origin_df.head()

         lng        lat
0 -48.054989 -15.838145
1 -48.054989 -15.838145
2 -48.054989 -15.838145
3 -47.893662 -15.805118
4 -48.054989 -15.838145

In [115]:
deliveries_df = pd.merge(left=deliveries_df, right=hub_origin_df, left_index=True, right_index=True, how='inner')
deliveries_df.head()

,name,region,origin,vehicle_capacity,deliveries,lng,lat
0,cvrp-2-df-33,df-2,"{'lng': -48.05498915846707, 'lat': -15.8381445...",180,"[{'id': '313483a19d2f8d65cd5024c8d215cfbd', 'p...",-48.054989,-15.838145
1,cvrp-2-df-73,df-2,"{'lng': -48.05498915846707, 'lat': -15.8381445...",180,"[{'id': 'bf3fc630b1c29601a4caf1bdd474b85', 'po...",-48.054989,-15.838145
2,cvrp-2-df-20,df-2,"{'lng': -48.05498915846707, 'lat': -15.8381445...",180,"[{'id': 'b30f1145a2ba4e0b9ac0162b68d045c3', 'p...",-48.054989,-15.838145
3,cvrp-1-df-71,df-1,"{'lng': -47.89366206897872, 'lat': -15.8051175...",180,"[{'id': 'be3ed547394196c12c7c27c89ac74ed6', 'p...",-47.893662,-15.805118
4,cvrp-2-df-87,df-2,"{'lng': -48.05498915846707, 'lat': -15.8381445...",180,"[{'id': 'a6328fb4dc0654eb28a996a270b0f6e4', 'p...",-48.054989,-15.838145

In [116]:
# Retirando a coluna 'origin', renomeando as colunas 'lng' e 'lat', e colocando as colunas do DataFrame em ordem:

deliveries_df = deliveries_df.drop('origin', axis=1)
deliveries_df = deliveries_df[['name','region','lng','lat','vehicle_capacity','deliveries']]
deliveries_df.head()

,name,region,lng,lat,vehicle_capacity,deliveries
0,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,"[{'id': '313483a19d2f8d65cd5024c8d215cfbd', 'p..."
1,cvrp-2-df-73,df-2,-48.054989,-15.838145,180,"[{'id': 'bf3fc630b1c29601a4caf1bdd474b85', 'po..."
2,cvrp-2-df-20,df-2,-48.054989,-15.838145,180,"[{'id': 'b30f1145a2ba4e0b9ac0162b68d045c3', 'p..."
3,cvrp-1-df-71,df-1,-47.893662,-15.805118,180,"[{'id': 'be3ed547394196c12c7c27c89ac74ed6', 'p..."
4,cvrp-2-df-87,df-2,-48.054989,-15.838145,180,"[{'id': 'a6328fb4dc0654eb28a996a270b0f6e4', 'p..."

In [117]:
deliveries_df.rename(columns={'lng': 'hug_lng', 'lat': 'hug_lat'}, inplace=True)
deliveries_df.head()

,name,region,hug_lng,hug_lat,vehicle_capacity,deliveries
0,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,"[{'id': '313483a19d2f8d65cd5024c8d215cfbd', 'p..."
1,cvrp-2-df-73,df-2,-48.054989,-15.838145,180,"[{'id': 'bf3fc630b1c29601a4caf1bdd474b85', 'po..."
2,cvrp-2-df-20,df-2,-48.054989,-15.838145,180,"[{'id': 'b30f1145a2ba4e0b9ac0162b68d045c3', 'p..."
3,cvrp-1-df-71,df-1,-47.893662,-15.805118,180,"[{'id': 'be3ed547394196c12c7c27c89ac74ed6', 'p..."
4,cvrp-2-df-87,df-2,-48.054989,-15.838145,180,"[{'id': 'a6328fb4dc0654eb28a996a270b0f6e4', 'p..."

In [118]:
# Normalizando os dados da coluna 'deliveries' através da operação explode, e depois separando os dados das linhas, e ordenando as colunas atrávés do método concat:

deliveries_exploded_df = deliveries_df[['deliveries']].explode('deliveries')
deliveries_exploded_df.head()

                                          deliveries
0  {'id': '313483a19d2f8d65cd5024c8d215cfbd', 'po...
0  {'id': '320c94b17aa685c939b3f3244c3099de', 'po...
0  {'id': '3663b42f4b8decb33059febaba46d5c8', 'po...
0  {'id': 'e11ab58363c38d6abc90d5fba87b7d7', 'poi...
0  {'id': '54cb45b7bbbd4e34e7150900f92d7f4b', 'po...

In [120]:
deliveries_normalized_df = pd.concat([
    pd.DataFrame(deliveries_exploded_df['deliveries'].apply(lambda coluna: coluna['size'])).rename(columns={'deliveries': 'delivery_size'}),
    pd.DataFrame(deliveries_exploded_df['deliveries'].apply(lambda coluna: coluna['point']['lat'])).rename(columns={'deliveries': 'delivery_lat'}),
    pd.DataFrame(deliveries_exploded_df['deliveries'].apply(lambda coluna: coluna['point']['lng'])).rename(columns={'deliveries': 'delivery_lng'}),
], axis=1)
deliveries_normalized_df.head()

   delivery_size  delivery_lat  delivery_lng
0              9    -15.848929    -48.116189
0              2    -15.850772    -48.118195
0              1    -15.847871    -48.112483
0              2    -15.846471    -48.118023
0              7    -15.858055    -48.114898

In [121]:
len(deliveries_normalized_df)

636149

In [122]:
len(deliveries_df)

199

In [123]:
# Combinando os dados com o conjunto de dados principal:

deliveries_df = deliveries_df.drop('deliveries', axis=1)
deliveries_df = pd.merge(left=deliveries_df, right=deliveries_normalized_df, how='right', left_index=True, right_index=True)
deliveries_df.reset_index(inplace=True, drop=True)
deliveries_df.head()

,name,region,hug_lng,hug_lat,vehicle_capacity,delivery_size,delivery_lat,delivery_lng
0,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,9,-15.848929,-48.116189
1,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,2,-15.850772,-48.118195
2,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,1,-15.847871,-48.112483
3,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,2,-15.846471,-48.118023
4,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,7,-15.858055,-48.114898

In [124]:
len(deliveries_df)

636149

In [125]:
# Analisando a estrutura do conjunto de dados:

deliveries_df.shape

(636149, 8)

In [126]:
deliveries_df.columns

Index(['name', 'region', 'hug_lng', 'hug_lat', 'vehicle_capacity',
       'delivery_size', 'delivery_lat', 'delivery_lng'],
      dtype='object')

In [127]:
deliveries_df.index

RangeIndex(start=0, stop=636149, step=1)

In [128]:
deliveries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636149 entries, 0 to 636148
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              636149 non-null  object
 1   region            636149 non-null  object
 2   hug_lng           636149 non-null  float64
 3   hug_lat           636149 non-null  float64
 4   vehicle_capacity  636149 non-null  int64
 5   delivery_size     636149 non-null  int64
 6   delivery_lat      636149 non-null  float64
 7   delivery_lng      636149 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 38.8+ MB

In [129]:
# Exploração do Schema:

deliveries_df.head(n=10)

,name,region,hug_lng,hug_lat,vehicle_capacity,delivery_size,delivery_lat,delivery_lng
0,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,9,-15.848929,-48.116189
1,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,2,-15.850772,-48.118195
2,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,1,-15.847871,-48.112483
3,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,2,-15.846471,-48.118023
4,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,7,-15.858055,-48.114898
5,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,10,-15.847780,-48.120448
6,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,7,-15.852089,-48.121802
7,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,10,-15.851215,-48.116300
8,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,9,-15.849660,-48.116317
9,cvrp-2-df-33,df-2,-48.054989,-15.838145,180,8,-15.849925,-48.123115

In [131]:
deliveries_df.dtypes

name                 object
region               object
hug_lng             float64
hug_lat             float64
vehicle_capacity      int64
delivery_size         int64
delivery_lat        float64
delivery_lng        float64
dtype: object

In [139]:
deliveries_df.select_dtypes('object').describe().transpose()

         count unique           top    freq
name    636149    199  cvrp-1-df-87    5636
region  636149      3          df-1  304708

In [140]:
deliveries_df.drop(['name','region'], axis=1).select_dtypes('int64').describe().T

,count,mean,std,min,25%,50%,75%,max
vehicle_capacity,636149.0,180.000000,0.000000,180.0,180.0,180.0,180.0,180.0
delivery_size,636149.0,5.512111,2.874557,1.0,3.0,6.0,8.0,10.0

In [142]:
# Verificando se existem dados faltantes nas colunas do DataFrame:

deliveries_df.isna().any()

name                False
region              False
hug_lng             False
hug_lat             False
vehicle_capacity    False
delivery_size       False
delivery_lat        False
delivery_lng        False
dtype: bool